body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Mengubah tata letak ke vertikal */
    align-items: center;
    height: 100vh;
}

.box {
    text-decoration: none;
    color: #fff;
    background-color: #add8e6; /* Warna biru muda */
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.box:hover {
    background-color: #87ceeb; /* Warna biru muda yang sedikit lebih tua saat dihover */
}

article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
